#All Macintosh Computers use this file to store metadata on file locations within finder and other applications. This file is completely useless with github and Windows and Linux computers.#
##############################################################################################################################################################################################
.DS_Store

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
